<ion-content style="--background:white">
    <div class="contain">
        <div style="text-align: -webkit-center;
       ">
            <div class="third-dv">
                <div class="seconddev">
                    <div class="round-dv">
                        <img src="assets/images/food_on.png" style="height: 131px;
                        margin-top: 32px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="contain-dv">
            <ion-row style="margin-top: 40%">
                <ion-col size="6" style="text-align: start;">
                    <ion-button class="rateke-button" (click)="goToRegister()">REGISTER</ion-button>
                </ion-col>
                <ion-col size="6" style="text-align: end;">
                    <ion-button class="lookgood-button" (click)="goToLogin()">LOGIN</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>