<div class="modal-color">
  <div class="popup-header">
    <span class="header">ADDITIONAL DATA</span>
  </div>
  <div style="padding: 10px 13px 0 13px;">
  <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
      font-size: 3.9vw;margin-left: 5px;">Received From</span>
      <div class="sub-header">
        Fininca La Ma
      </div>
    </div>
  <div style="padding: 0px 13px 0 13px;margin-top: 6%;">
    <!-- <span class="sub-header" style="color: #333333;">relevant data</span> -->
    <ion-row style="background: #f2f2f2;padding: 11px;border-radius: 10px;">
      <ion-col size="7">
        <p class="summardata">Value each Unit</p>
        <p class="summardatatwo">Planting Date</p>
        <p class="summardatatwo">Fertilizer Type</p>
      </ion-col>
      <ion-col size="5">
        <p class="summaryvaluedata">$5,75</p>
        <p class="summaryvaluedtwo">2021-11-03</p>
        <p class="summaryvaluedtwo">Organic B</p>
      </ion-col>
    </ion-row>
  </div>
  <div style="text-align: center;margin-bottom: -8vw;margin-top: 20px;" (click)="close()">
    <img src="assets/images/crossclose.png" style="height: 48px;width: 48px;">
  </div>
</div>