<div class="modal-color">
  <div class="popup-header">
    <span class="header">Producer Details</span>
  </div>
  <div style="text-align: center; margin-top: 13px">
    <img src="assets/images/profileimage.png" style="height: 120px" />
    <P class="location">Location</P>
    <P class="locationname">{{ location }}</P>
    <P class="location">Name</P>
    <P class="locationname">{{ producerData.producer_name }}</P>
  </div>
  <div style="padding: 10px 13px 0 13px; margin-top: 8%">
    <span class="sub-header" style="color: #333333">relevant data</span>
    <div style="border-radius: 10px; margin-top: 10px">
      <div
        style="background: #fafafa; padding: 5px"
        *ngFor="let data of producerData.datavalues"
      >
        <ion-row>
          <ion-col size="7">
            <p class="summardata">{{ data.description }}</p>
          </ion-col>
          <ion-col size="5">
            <p class="summaryvaluedata">{{ data.value }}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div style="text-align: center; margin-bottom: -8vw">
    <img
      src="assets/images/crossclose.png"
      style="height: 48px; width: 48px"
      (click)="close()"
    />
  </div>
</div>
