ion-title {
    &.md {
        width: 100%;
        // position: absolute;
        left: 0;
        height: 0;
        text-align: center;
        font-family: 'Nunito-Bold';
    }
}
.header {
    font-family: 'Nunito-Bold';
    color: #001e62;
    font-size: 4.9vw;
    // margin-top: 7%;
}
.sechbar{
    --background: #f2f2f2;
    --color: black;
    --box-shadow: 0;
    --border-radius: 11px;
    --icon-color: black;
    --cancel-button-color: black;
}
.shadowdv{
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 9px 0 rgb(0 0 0 / 9%);
    margin-top: 20px;
}
.organic{
    color: #001e62;
}
.aldvvv{
    background: #ecf1fb;
    border: 1px solid #001e62;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}

.dvvvvvvv{
  color: #333333;
  background: #f2f2f2;
  height: 37px;
  border-radius: 10px;
//   margin-bottom: 23px;
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 10px;
}

.container {
    width: 96%;
  }
  
  .step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
  }
  
  .v-stepper {
    margin-top: 11px;
    position: relative;
  }
  
  
  /* regular step */
  .step .circle {
    background-color: white;
    border-radius: 100%;
    width: 20px;    /* +6 for border */
    height: 20px;
    display: inline-block;
  }
  
  .step .line , .step .activeline{
      top: 48px;
    left: 23px;
  /*   height: 120px; */
    height: 100%;
      
      position: absolute;
      border-left: 3px solid gray;
  }
  
  .step.completed .circle {
    visibility: visible;
    width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url("./../../../assets/images/righticon.png");
  
    
  }
  
  .step.completed .line {
    border-left: 3px solid rgb(77, 233, 15);
  }
  
  .step.active .circle {
  visibility: visible;
    border-color: rgb(6,150,215);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("./../../../assets/images/redsymbole.png");
  }
  
  .step.empty .circle {
      visibility: hidden;
  }
  
  .step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
    top: 0;
    height: 150%;
  }
  
  
  .step:last-child .line {
    border-left: 3px solid white;
    z-index: -1; /* behind the circle to completely hide */
  }
  
  .content {
    margin-left: 20px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 80vw;
  }
  
  
  /* codepen override */
  html *
  {
     font-size: 15px !important;
     color: #000 !important;
     font-family: Arial !important;
  }
  .dateandtext{
    color: #7b7b7b;
    margin: 0;
    font-size: 12px;
    font-family: 'Nunito-SemiBold';
  }
  .producer_text{
    font-family: 'Poppins-Regular';
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
  }
  .pruct_nametextcss{
    color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
    font-size: 3.9vw;
  }
  ion-footer {
    --background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 29%), 0 6px 9px 0 rgb(0 0 0 / 29%);
  }
  
  .tab-lable {
    font-size: 10px;
    margin-top: 3px;
    font-family: 'Nunito-Bold';
  }