<ion-header>
  <ion-toolbar style="--background: #ffffff;">
    <ion-buttons slot="start">
      <img style="width:32px;padding-left: 10%;" src="assets/images/back_a.png" (click)="goToBack()">
    </ion-buttons>
    <ion-buttons slot="primary">
      <img style="width:32px;padding-right: 10%;" src="assets/images/profile_menu_ic.png">
    </ion-buttons>

    <ion-title style="font-size:35px;color: #232844;">FOOD ON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff;">
  <div style="padding: 12px 14px 26px 14px;">
    <div style="text-align: center;">
      <span class="header">My Products Lots Details</span>
    </div>

    <div class="shadowdv">
      <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
      font-size: 3.4vw;">Product Name</span>
      <div class="dvvvvvvv">
        Organic mango
      </div>

      <ion-row>
        <ion-col size="6">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Lot Code</span>
          <div class="dvvvvvvv">
            56163
          </div>
        </ion-col>
        <ion-col size="6">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Amount Of Unit</span>
          <div class="dvvvvvvv">
            15.32
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Sales Price</span>
          <div class="dvvvvvvv">
            $200.00
          </div>
        </ion-col>
        <ion-col size="4">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.2vw;">Value Each Unit</span>
          <div class="dvvvvvvv">
            $350.00
          </div>
        </ion-col>
        <ion-col size="2">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Public</span>
          <ion-toggle mode="ios"></ion-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Production Date</span>
          <div class="dvvvvvvv">
            08-Aug-2022
          </div>
        </ion-col>
        <ion-col size="6">
          <span style="color: #333333;font-weight: 600;font-family: 'Nunito-Bold';
          font-size: 3.4vw;">Expiration Date</span>
          <div class="dvvvvvvv">
            12-Aug-2022
          </div>
        </ion-col>
      </ion-row>

      <ion-button expand="block" class="google-button" (click)="view()"><img src="assets/images/NoPath - Copy.png"
          class="goglelogin">customized additional data
      </ion-button>
    </div>


  </div>
</ion-content>
