<ion-header>
  <ion-toolbar style="--background: #ffffff;">
    <ion-buttons slot="start">
      <img style="width:32px;padding-left: 10%;" src="assets/images/burger_menu_ic.png">
    </ion-buttons>
    <ion-buttons slot="primary">
      <img style="width:32px;padding-right: 10%;" src="assets/images/profile_menu_ic.png">
    </ion-buttons>

    <ion-title style="font-size:35px;color: #232844;">FOOD ON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff;">
  <div style="padding: 12px 14px 26px 14px;">
    <div style="text-align: center;">
      <span class="header">My Products</span>
    </div>
    <div class="shadowdv">
      <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" class="sechbar"
        placeholder="Search products"></ion-searchbar>
      <ion-row>
        <ion-col size="4" (click)="goToNext()">
          <div class="addnew" style="height: 34vw">
            <img src="assets/images/add_circle.png" style="height: 35px;">
            <div class="addnewproduct">ADD NEW PRODUCT</div>
          </div>
        </ion-col>
        <ion-col size="4" *ngFor="let data of datas">
          <div class="aldvvv" style="height: 34vw">
            <img src="{{data.image}}" style="height: 57px;">
            <div class="organic">{{data.name}}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs style="background-color: white;">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" (click)="goToHome()">
        <img width="27" src="assets/images/dashboard_ic.png">
        <ion-label class="tab-lable">DASHBOARD</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <img width="25" src="assets/images/products_ic.png">
        <ion-label class="tab-lable">PRODUCTS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" (click)="goToDistributor()">
        <img width="25" src="assets/images/distributors_ic.png">
        <ion-label class="tab-lable">DISTRIBUTORS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" (click)="goToReceiveLot()">
        <img width="25" src="assets/images/receive_lot_ic.png">
        <ion-label class="tab-lable">RECEIVE LOT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
