ion-title {
    &.md {
        width: 100%;
        // position: absolute;
        left: 0;
        height: 0;
        text-align: center;
        font-family: 'Nunito-Bold';
    }
}
.header {
    font-family: 'Nunito-Bold';
    color: #001e62;
    font-size: 4.9vw;
    // margin-top: 7%;
}
.shadowdv{
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 9px 0 rgb(0 0 0 / 9%);
    margin-top: 20px;
}
.input-div{
    color: #333333;
    background: #f2f2f2;
    height: 37px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 10px;
    font-family: "Nunito-SemiBold";
  }
  .google-button{
    margin-top: 12%;
    --background: #001e62;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 27px;
    height: 48px;
    letter-spacing: 0px;
    font-family: "Nunito-SemiBold";
}
.goglelogin{
    padding-right: 5px;
    height: 25px;
}