<ion-content class="contain">
  <ion-icon
    name="chevron-back-outline"
    class="backicon"
    (click)="goToBack()"
  ></ion-icon>
  <div class="contain-dv">
    <span class="loginacconttext">Forgot Password,</span>

    <p class="email-adress-text">Email Address</p>
    <div class="item">
      <ion-icon name="mail-sharp" class="icon"></ion-icon>
      <ion-input
        type="email"
        placeholder="Enter Your Email Address"
        class="input"
        [(ngModel)]="email"
      ></ion-input>
    </div>

    <ion-button expand="block" class="login-button" (click)="reset()"
      >Reset</ion-button
    >
  </div>
</ion-content>
