ion-title {
    &.md {
        width: 100%;
        // position: absolute;
        left: 0;
        height: 0;
        text-align: center;
        font-family: 'Nunito-Bold';
    }
}
.header {
    font-family: 'Nunito-Bold';
    color: #001e62;
    font-size: 4.9vw;
    margin-top: 10%;
    font-weight: 600;
}
.shadowdv{
    text-align: center;
    background: white;
    padding-top: 12%;
    padding-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 9px 0 rgb(0 0 0 / 9%);
    margin-top: 20px;
}
.placeorder{
    color: #333333;
    font-family: 'Nunito-Bold';
}