ion-title {
    &.md {
        width: 100%;
        // position: absolute;
        left: 0;
        height: 0;
        text-align: center;
        font-family: 'Nunito-Bold';
    }
}
.header {
    font-family: 'Nunito-Bold';
    color: white;
    font-size: 4.9vw;
    margin-top: 10%;
    font-weight: 600;
}
.shadowdv{
    text-align: center;
    padding-top: 12%;
    padding-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 9px 0 rgb(0 0 0 / 9%);
    margin-top: 20px;
}
.placeorder{
    color: white;
    font-family: 'Nunito-Bold';
    margin-top: 38vh;
}
.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / 50%);
    content: "";
    display: block;
    left: 50%;
    height: 28vh;
    position: absolute;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 300px;
}