<div class="modal-color">
  <div style="text-align: center;
  height: 40px;
  background: #f2f2f2;
  border-radius: 9px;
  padding-top: 8px;">
    <span class="header">Producer Details</span>
  </div>
  <div style="text-align: center;margin-top: 13px;">
    <img src="assets/images/profileimage.png" style="height: 120px;">
    <P class="location">Location</P>
    <P class="locationname">Colombia</P>
    <P class="location">Name</P>
    <P class="locationname">Finca la lama</P>
  </div>
  <div style="padding: 10px 13px 0 13px;">
    <span class="header" style="color: #333333;">relevant data</span>
    <ion-row style="margin-top: 10px;background: #fafafa;padding: 11px;border-radius: 10px;">
      <ion-col size="6">
        <p class="summardata">Value each Unit</p>
        <p class="summardatatwo">Planting Date</p>
        <p class="summardatatwo">Fertilizer Type</p>
      </ion-col>
      <ion-col size="6">
        <p class="summaryvaluedata">$5,75</p>
        <p class="summaryvaluedtwo">2021-11-03</p>
        <p class="summaryvaluedtwo">Organic B</p>
      </ion-col>
    </ion-row>
  </div>
  <div style="text-align: center;margin-bottom: -8vw;">
    <img src="assets/images/crossclose.png" style="height: 48px;width: 48px;" (click)="close()">
  </div>
</div>