.modal-color {
  border-radius: 9px;
  background: #fff;
  margin-top: 16%;
  margin-left: 20px;
  margin-right: 20px;
}

.popup-header {
  text-align: center;
  height: 47px;
  background: #f2f2f2;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding-top: 12px;
}

.header {
  text-transform: uppercase;
  font-family: 'Nunito-SemiBold';
  color: #000000;
  font-size: 4.5vw;
}

.sub-header {
    text-transform: uppercase;
    font-family: 'Nunito-Bold';
    color: #000000;
    font-size: 4.3vw;
  }

.location {
  font-family: 'Nunito-SemiBold';
  font-size: 11px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  color: #7b7b7b;
}

.locationname {
  text-transform: uppercase;
  margin: 0;
  color: #000000;
  font-family: 'Nunito-Bold';
}

.name {
  margin: 0;
  color: #7b7b7b;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Nunito-Bold';
}

.summardata {
  color: #333333;
  margin: 0;
  font-family: 'Nunito-SemiBold';
  font-size: 15px;
}

.summardatatwo {
  color: #333333;
  font-family: 'Nunito-SemiBold';
  font-size: 15px;
}

.summaryvaluedata {
  color: #333333;
  margin: 0;
  font-family: 'Nunito-SemiBold';
  font-size: 15px;
}

.summaryvaluedtwo {
  color: #333333;
  font-family: 'Nunito-SemiBold';
  font-size: 15px;
}
