
.modal-color {
    border-radius: 9px;
    background: #fff;
    margin-top: 16%;
    margin-left: 20px;
    margin-right: 20px;
}
.header {
    font-family: 'Nunito-Bold';
    color: #001e62;
    font-size: 4.9vw;
}