.contain {
  background: transparent url(././../../../assets/images/login_background.png)0 0/100% 100% no-repeat;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding-top: 120px;
}

.loginacconttext {
  color: #232844;
  line-height: 27px;
  font-size: 24px;
  font-weight: 500;
  padding-top: 18px;
}

.contain-dv {
  padding: 13px;
  // margin-top: 80%
  // margin-top: 38px;
}

.email-adress-text {
  margin: 0;
  padding-top: 112px;
  color: #232844;
}

.item {
  display: flex;
  border-bottom: 1px solid black;
  --background: white;
  color: black;
  --padding-start: 0;
  --padding-end: 0;
}

.icon {
  color: black;
  margin-top: 11px;
}

.input {
  --padding-bottom: 8px;
  font-size: 13px;
}

.round-dv {
  border-radius: 140px;
  background: #fcfdfd;
  padding: 2px;
  width: 205px;
  height: 205px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 3%);
}

.seconddev {
  border-radius: 140px;
  background: #f5f6f9;
  padding: 31px;
  width: 270px;
  height: 270px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 3%);
}

.third-dv {
  border-radius: 158px;
  background: #ebedf3;
  padding: 29px;
  width: 332px;
  height: 330px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 3%);
}
