<ion-content class="contain">
  <div class="contain-dv">
    <span class="loginacconttext">Log In to <br>Your Account</span>

    <p class="email-adress-text">Email Address</p>
    <div class="item">
    <ion-icon name="mail-sharp" class="icon"></ion-icon>
    <ion-input type="email" placeholder="Enter Your Email Address" class="input"></ion-input>
    </div>

    <p class="password-adress-text">Password</p>
    <div class="item">
    <ion-icon name="lock-closed" class="icon"></ion-icon>
    <ion-input type="Password" placeholder="Enter Your Password" class="input"></ion-input>
    </div>

    <ion-button expand="block" class="login-button" (click)="login()" >LOGIN
    </ion-button>

    <p class="forgotpasword">Forgot Password ?</p>
  </div>

</ion-content>