<ion-header>
  <ion-toolbar style="--background: #ffffff;">
    <ion-buttons slot="start">
      <img style="width:32px;padding-left: 10%;" src="assets/images/back_a.png" (click)="goToBack()">
    </ion-buttons>
    <ion-buttons slot="primary">
      <img style="width:32px;padding-right: 10%;" src="assets/images/profile_menu_ic.png">
    </ion-buttons>

    <ion-title style="font-size:35px;color: #232844;">FOOD ON</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #ffffff;">
  <div style="padding: 12px 14px 26px 14px;">
    <div style="text-align: center;"> 
      <span class="header">Receive Lot Via QR Code</span>
    </div>

    <div class="shadowdv">
      <span class="header" class="pruct_nametextcss">Product Name</span>
      <div class="dvvvvvvv">
        Organic mango
      </div>

      <span class="header" class="pruct_nametextcss">Producer</span>
      <div class="dvvvvvvv">
        Fininca La Lama
      </div>

      <span class="header" class="pruct_nametextcss">Received From</span>
      <div class="dvvvvvvv">
        Fininca La Lama
      </div>

      <ion-row>
        <ion-col size="6">
          <span class="pruct_nametextcss">Lot Code</span>
          <div class="dvvvvvvv">
            56163
          </div>
        </ion-col>
        <ion-col size="6">
          <span class="pruct_nametextcss">Amount Of Unit</span>
          <div class="dvvvvvvv">
            15.32
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span class="pruct_nametextcss">Purchase Price</span>
          <div class="dvvvvvvv">
            $200.00
          </div>
        </ion-col>
        <ion-col size="6">
          <span class="pruct_nametextcss">Value Each Unit</span>
          <div class="dvvvvvvv">
            $200.00
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span class="pruct_nametextcss">Production Date</span>
          <div class="dvvvvvvv">
            08-Aug-2022
          </div>
        </ion-col>
        <ion-col size="6">
          <span class="pruct_nametextcss">Expiration Date</span>
          <div class="dvvvvvvv">
            12-Aug-2022
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="lastdv">
      <p class="lasttext">Do You Want To Receive This <br>Production Lot ?</p>
    </div>

    <div style="display: flex;justify-content: center;margin-top: 10px;">
      <ion-button class="save-button" (click)="view()">YES</ion-button>
      <ion-button class="save-button" style="margin-left: 20px;--background:red;">NO</ion-button>
    </div>
  </div>

</ion-content>
