<ion-header>
  <ion-toolbar style="--background: #ffffff">
    <ion-buttons slot="start">
      <img
        style="width: 32px; padding-left: 10%"
        src="assets/images/burger_menu_ic.png"
      />
    </ion-buttons>
    <ion-buttons slot="primary" (click)="presentPopover($event)">
      <img
        style="width: 32px; padding-right: 10%"
        src="assets/images/profile_menu_ic.png"
      />
    </ion-buttons>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false"  >
      <ng-template>
        <ion-content class="ion-padding" (click)="logout()">Logout</ion-content>
      </ng-template>
    </ion-popover>

    <ion-title style="font-size: 35px; color: #232844">FOOD ON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff">
  <div style="padding: 12px 14px 26px 14px">
    <div style="text-align: center">
      <span class="header">World Movers Inc - Distributor Profile</span>
    </div>

    <div class="shadow-dv">
      <div class="total-select-dv">
        <ion-select
          placeholder="Please Select a Producer"
          class="producerselect"
          [(ngModel)]="distributorData"
        >
          <ion-select-option
            *ngFor="let data of distributorList"
            [value]="data.id_distributor_user"
            >{{data.nombre}}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="total-select-dv" style="margin-top: 12px">
        <ion-select
          placeholder="Please Select a Product"
          class="producerselect"
          [(ngModel)]="productData"
        >
          <ion-select-option *ngFor="let data of productList" [value]="data.id"
            >{{data.name}}</ion-select-option
          >
        </ion-select>
      </div>

      <ion-row style="margin-top: 12px" [hidden]="!mapSec">
        <ion-col size="6">
          <ion-select
            placeholder="Select a Year"
            class="producerselect"
            [(ngModel)]="selectedYear"
          >
            <ion-select-option *ngFor="let year of yearRange" [value]="year"
              >{{year}}</ion-select-option
            >
          </ion-select>
        </ion-col>
        <ion-col size="6">
          <ion-select
            placeholder="Select a Month"
            class="producerselect"
            [(ngModel)]="selectedMonth"
          >
            <ion-select-option
              *ngFor="let data of monthList"
              [value]="data.monthId"
              >{{data.month}}</ion-select-option
            >
          </ion-select>
        </ion-col>
      </ion-row>

      <div style="margin-top: 12px" *ngIf="graphshow">
        <ion-row>
          <ion-col size="6">
            <ion-input
              disabled="true"
              value="{{ date | date: 'yyyy/dd/MM' }}"
              id="date"
              class="producerselect"
              placeholder="Start Date"
            ></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-input
              disabled="true"
              value="{{ enddate | date: 'yyyy/dd/MM' }}"
              id="enddate"
              class="producerselect"
              placeholder="End Date"
            ></ion-input>
            <ion-popover trigger="enddate" size="medium" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  presentation="enddate"
                  [(ngModel)]="enddate"
                  (ionChange)="enddatevalue()"
                  [showDefaultButtons]="true"
                  doneText="Ok"
                  cancelText="Cancel"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-col>
        </ion-row>
        <ion-popover trigger="date" size="cover" show-backdrop="false">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="date"
              locale="sl-SI"
              (ionChange)="startdatevalue()"
              [showDefaultButtons]="true"
              doneText="Ok"
              cancelText="Cancel"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </div>
      <ion-button color="primary" style="width: 100%" (click)="check()"
        >Check</ion-button
      >
    </div>

    <div class="shadowdv">
      <div style="text-align: center">
        <span class="header" [hidden]="!mapSec">Geographical Location</span>
        <span class="header" *ngIf="secondtext == true"
          >Amount of Product Sold</span
        >
        <span class="header" *ngIf="thirdtext == true">Product Sale</span>
      </div>
      <ion-row>
        <ion-col size="6">
          <img
            style="width: 32px; padding-right: 10%"
            src="assets/images/leftarow.png"
            *ngIf="secondgraph == true"
            (click)="fastgraph()"
          />
        </ion-col>
        <ion-col
          size="6"
          style="text-align: end; z-index: 999"
          (click)="rightarow()"
        >
          <img
            style="width: 19px"
            src="assets/images/rightarow.png"
            *ngIf="closerightarow == false"
          />
        </ion-col>
      </ion-row>
      <div [hidden]="!mapSec">
        <capacitor-google-map #map></capacitor-google-map>
      </div>
      <div [hidden]="!graphshow">
        <canvas #lineCanvas></canvas>
      </div>
    </div>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      mode="ios"
      class="alldv"
      value="valid"
    >
      <ion-segment-button value="all" mode="ios" class="segment">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="valid" mode="ios" class="segment">
        <ion-label>Valid</ion-label>
      </ion-segment-button>
      <ion-segment-button value="invalid" mode="ios" class="segment">
        <ion-label>Invalid</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs style="background-color: white">
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <img width="27" src="assets/images/dashboard_ic.png" />
        <ion-label class="tab-lable">DASHBOARD</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToProduct()">
        <img width="25" src="assets/images/products_ic.png" />
        <ion-label class="tab-lable">PRODUCTS</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToDistributor()">
        <img width="25" src="assets/images/distributors_ic.png" />
        <ion-label class="tab-lable">DISTRIBUTORS</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToReceiveLot()">
        <img width="25" src="assets/images/receive_lot_ic.png" />
        <ion-label class="tab-lable">RECEIVE LOT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
