<ion-header>
  <ion-toolbar style="--background: #ffffff">
    <ion-buttons slot="start">
      <img
        style="width: 32px; padding-left: 10%"
        src="assets/images/back_a.png"
        (click)="goToBack()"
      />
    </ion-buttons>
    <ion-buttons slot="primary">
      <img
        style="width: 32px; padding-right: 10%"
        src="assets/images/profile_menu_ic.png"
      />
    </ion-buttons>

    <ion-title style="font-size: 35px; color: #232844">FOOD ON</ion-title>
  </ion-toolbar>
  <div style="text-align: center; padding-bottom: 10px; background: white">
    <span class="header">View Geographic Journey</span>
  </div>
</ion-header>
<ion-content style="--background: transparent">
  <!-- <div style="padding: 12px 14px 26px 14px"> -->
  <div>
    <div>
      <capacitor-google-map #map></capacitor-google-map>
      <!-- <p style="color: red;">Here to show map view</p> -->
    </div>
  </div>
</ion-content>
